.fullView{
    width:100%;
    
}
.notFullView{
    width:70%;
    padding-right: 15px;
    
    
}
.showCreateTask{
    /* padding-left: 10px; */
    width: 30%;
    height: 100%;
    
    
}
.notShowCreateTask{
    background-color: red;
}