<div>
    <form [formGroup]="addEmployeeForm" (ngSubmit)="onSubmit()">

        <div>
            <label for="username">User Name </label>
            <input type="text" autocomplete="off" class="form-control" name="username" formControlName="username">
        </div>

        <div class="errorMessage" *ngIf="addEmployeeForm.get('username')?.touched && addEmployeeForm.get('username')?.hasError('required')">
            this feild is required
        </div>

        <div class="errorMessage" *ngIf="addEmployeeForm.get('username')?.hasError('pattern')">
            invalid name
        </div>





        <div>
            <label for="name">Name </label>
            <input type="text" class="form-control" name="name" formControlName="name">
        </div>

        <div class="errorMessage" *ngIf="addEmployeeForm.get('name')?.touched && addEmployeeForm.get('name')?.hasError('required')">
            this feild is required
        </div>

        <div class="errorMessage" *ngIf="addEmployeeForm.get('name')?.hasError('pattern')">
            invalid name
        </div>


        <div>
            <label for="age">Age </label>
            <input type="text" class="form-control" name="age" formControlName="age">


            <div class="errorMessage" *ngIf="addEmployeeForm.get('age')?.touched && addEmployeeForm.get('age')?.hasError('required')">
                this is required feild
            </div>
            <div class="errorMessage" *ngIf="addEmployeeForm.get('age')?.hasError('pattern')">
                invalid number
            </div>
            <div class="errorMessage" *ngIf="addEmployeeForm.get('age')?.hasError('maxlength')">
                length is high
            </div>
            <div class="errorMessage" *ngIf="addEmployeeForm.get('age')?.hasError('minlength')">
                length is low
            </div>
        </div>

        
            <label for="gender">Gender</label><br>
            <input style="margin-right: 5px;" type="radio" name='gender' value='Male' formControlName='gender'><span style="margin-left: 1px;"> Male</span> &nbsp;
            <input style="margin-right: 5px;" type="radio" name='gender' value='Female' formControlName='gender'><span style="margin-left: 1px;margin-right: 1px;"> Female</span>
        


        <div class="errorMessage"*ngIf="addEmployeeForm.get('gender').touched && addEmployeeForm.get('gender')?.hasError('required')">
            this is required feild
        </div>


        <div>
            <label for="password">Password </label>
            <input type="password" class="form-control" name="password" formControlName="password">
        </div>

        <div class="errorMessage" *ngIf="addEmployeeForm.get('password')?.touched && addEmployeeForm.get('password')?.hasError('required')">
            this feild is required
        </div>

        <div class="errorMessage" *ngIf="addEmployeeForm.get('password')?.hasError('pattern')">
            invalid name
        </div>
        <div>
            <label for="phonenumber">Phone Number </label>
            <input type="text" class="form-control" name="phonenumber" formControlName="phonenumber">
            <div class="errorMessage"
                *ngIf="addEmployeeForm.get('phonenumber')?.touched && addEmployeeForm.get('phonenumber')?.hasError('required')">
                this is required feild
            </div>
            <div class="errorMessage" *ngIf="addEmployeeForm.get('phonenumber')?.hasError('pattern')">
                invalid number
            </div>
            <div class="errorMessage" *ngIf="addEmployeeForm.get('phonenumber')?.hasError('maxlength')">
                length is high
            </div>
            <div class="errorMessage" *ngIf="addEmployeeForm.get('phonenumber')?.hasError('minlength')">
                length is low
            </div>
            <div>
                Role
            </div>
            <div  *ngFor="let role of role; let i=index">
                <label>
                    <input type="checkbox" [value]="role.value" (change)="onCheckboxChange($event)" />
                    {{role.name}}
                </label>
            </div>
        </div>
        <div >
            <button class="btn btn-outline-secondary" [disabled]="!addEmployeeForm.valid">submit</button>
        </div>
        
    </form>
</div>