<div class="loginFormStyling">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="username">User Name </label>
        <input type="text" class="form-control" name="username" formControlName="username">
    </div>
        
        <div class="errorMessage" *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.hasError('required')">
            this feild is required
        </div>

        <div class="errorMessage" *ngIf="loginForm.get('username')?.hasError('pattern')">
            invalid name
        </div>

        <div>
            <label for="password">Password </label>
            <input type="text" class="form-control" name="password" formControlName="password">
        </div>
            
            <div class="errorMessage" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')">
                this feild is required
            </div>

            <div class="errorMessage" *ngIf="loginForm.get('password')?.hasError('pattern')">
                invalid name
            </div>


            <div class="submitLoginForm">
                <button type="button"  (click)="onSubmit()" class="btn btn-outline-secondary" [disabled]="!loginForm.valid">submit</button>
            </div>
            
        </form>
</div>