@import "~node_modules/@swimlane/ngx-datatable/index";
@import "~node_modules/@swimlane/ngx-datatable/themes/material";
@import "~node_modules/@swimlane/ngx-datatable/themes/bootstrap";
@import "~node_modules/@swimlane/ngx-datatable/assets/icons";



.modal{
    display: block;
}
.addEmployeeStyling{
    
    width:90px;
    height:30px
    
}
.employeeTableFeild{
    width:180px;
}
.table{
   padding:20px
    
}
.bi-arrow-down{
display: block;
}
.optionsFeild{
    width:300px
}
.addEmployeeButton{
    height: 50px;
    width: 150px;

}
.selected-column{
    margin-left: 200px;
    margin-top:50px;
}
