<div style="display: flex;margin-left: 20px;margin-top: 30px;">
  <div style="float: right;">

    <button *ngIf="Admin==true" class="addEmployeeButton form-control" (click)="addEmployeeModal()">add
      employee</button>

  </div>
</div>
<div style="margin-top:10px;margin-bottom:20px;">
  <div class="prefix-css">
  <ngx-datatable class="material container" [columns]="columns" [rows]="rows" [count]=8 [limit]="7" [headerHeight]="60"
    [rowHeight]="50" [footerHeight]="50" [sortType]="SortType.multi" [columnMode]="ColumnMode.force"
    [selected]="selected" [selectionType]="SelectionType.checkbox" [selectAllRowsOnPage]="false"
    [displayCheck]="displayCheck" (activate)="onActivate($event)" (select)="onSelect($event)">

    <ngx-datatable-column name="id" [width]="50" [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <span title="Double click to edit" (dblclick)="editing[rowIndex + '-name'] = true"
          *ngIf="!editing[rowIndex + '-name']">
          {{ value }}
        </span>
        <input autofocus (blur)="updateValue($event, 'name', rowIndex)" *ngIf="editing[rowIndex + '-name']" type="text"
          [value]="value" />
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="userName" [width]="200" [resizeable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <span title="Double click to edit" (dblclick)="editing[rowIndex + '-userName'] = true"
          *ngIf="!editing[rowIndex + '-userName']">
          {{ value }}
        </span>
        <input autofocus (blur)="updateValue($event, 'userName', rowIndex)" *ngIf="editing[rowIndex + '-userName']"
          type="text" [value]="value" />
      </ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="phoneNumber" [width]="200"[resizeable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <span title="Double click to edit" (dblclick)="editing[rowIndex + '-phoneNumber'] = true"
          *ngIf="!editing[rowIndex + '-phoneNumber']">
          {{ value }}
        </span>
        <input autofocus (blur)="updateValue($event, 'phoneNumber', rowIndex)"
          *ngIf="editing[rowIndex + '-phoneNumber']" type="text" [value]="value" />
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="gender" [resizeable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
        <span title="Double click to edit" (dblclick)="editing[rowIndex + '-gender'] = true"
          *ngIf="!editing[rowIndex + '-gender']">
          {{ value }}
        </span>
        <select *ngIf="editing[rowIndex + '-gender']" (blur)="editing[rowIndex + '-gender'] = false"
          (change)="updateValue($event, 'gender', rowIndex)" [value]="value">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="age" [width]="200" [resizeable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <span title="Double click to edit" (dblclick)="editing[rowIndex + '-age'] = true"
          *ngIf="!editing[rowIndex + '-age']">
          {{ value }}
        </span>
        <input autofocus (blur)="updateValue($event, 'age', rowIndex)" *ngIf="editing[rowIndex + '-age']" type="text"
          [value]="value" />
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="rolesArray" [width]="200" [resizeable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <span title="Double click to edit" (dblclick)="editing[rowIndex + '-rolesArray'] = true"
          *ngIf="!editing[rowIndex + '-rolesArray']">
          {{ value }}
        </span>
        <input autofocus (blur)="updateValue($event, 'rolesArray', rowIndex)" *ngIf="editing[rowIndex + '-rolesArray']"
          type="text" [value]="value" />
      </ng-template>
    </ngx-datatable-column>
       

    <ngx-datatable-column name="Actions" [width]="200" [resizeable]="false">
      <ng-template ngx-datatable-cell-template>
        <button class="btn btn-outline-secondary" ><i class="bi-person-lines-fill">edit</i></button>
        <button class="btn btn-outline-danger" ><i class="bi-person-x">delete</i></button>
      </ng-template>
    </ngx-datatable-column>



  </ngx-datatable>
  </div>

  <div class="selected-column" style="margin-top: 30px;margin-left: 110px;">
    <!-- <h5>
      Selections <small>({{ selected?.length }})</small>
    </h5> -->
    <div style="display: flex;">
    <div *ngIf="select!=null || select!=undefined ">
      <button class="btn btn-outline-danger" ><i class="bi-person-x">delete</i></button>
    </div>
    <ul style="margin-left: 200px;">
      <li *ngFor="let sel of selected">
        {{ sel.name }}
      </li>
      <!-- <li *ngIf="!selected?.length">No Selections</li> -->
    </ul>
  </div>
  </div>

</div>

<div *ngIf="addEmployeeModalDisplay">
  <div class="modal " tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="closeAddEmployeeModalDisplay()"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>

            <app-add-employee></app-add-employee>



          </div>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showViewEmployeeModal">
  <div class="modal " tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">User data</h5>
          <button type="button" class="close" data-dismiss="modal" (click)=" closeViewEmployeeModalDisplay()"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">name</th>
                  <th scope="col">age</th>
                  <th scope="col">gender</th>
                  <th scope="col">phone number</th>
                  <th scope="col">role</th>
                  <th scope="col">username</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="employeeTableFeild">{{id}}</td>
                  <td class="employeeTableFeild">{{name}}</td>
                  <td class="employeeTableFeild">{{age}}</td>
                  <td class="employeeTableFeild">{{gender}}</td>
                  <td class="employeeTableFeild">{{phonenumber}}</td>
                  <td class="employeeTableFeild">{{rolesArray}}</td>
                  <td class="employeeTableFeild">{{username}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showEditEmployeeModal">
  <div class="modal " tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">edit User data</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="closeEditEmployeeModalDisplay()"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>


            <app-edit-employee [editEmployeeFormData]="editEmployeeFormdata"></app-edit-employee>


          </div>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>
</div>