<div class="headerContent"  >
   
    <div class="usernameDropdown">
        <h6>{{userName}}</h6>
        <div *ngIf="showProfileOptions" class="showProfile" (blur)="profileOptions()">
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" routerLink="/login" (click)="logout()">Logout</a>
                <a class="dropdown-item" >My Profile</a>
                <a class="dropdown-item" routerLink="/change-password" (click)="changePassword()">Change Password</a>
                
              </div>
        </div>
    </div>
    
    <div class="profilePicDiv"(click)="profileOptions()"  class="dropleft show pictureDiv" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        
    <img class="profilePic"  src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
    
    </div>
    <div>
    </div>
    
</div>



