.headerContent{
    display: flex;
    justify-content: end;
    height: 20vh;
    align-items: baseline;
    
    background-color:#e6e6e6;
}
.profilePic{
    
    height:inherit;
    width: 100px;
    border-radius: 50%;
}
.dropdown-menu{
    display: block;
}
.showProfile{
    margin-top:50px;margin-left: 40px;
}
.usernameDropdown{
    align-content: center;margin-right: 60px;
}
.profilePicDive{
    display: block;
}