.headerContent{
    display: flex;
    justify-content: end;
    height: 110px;
    align-items: baseline;
    border-bottom:2px solid grey
    
}
.profilePic{
    margin-top: 3px;
    height:inherit;
    width: 100px;
}
.dropdown-menu{
    display: block;
}
.pictureDiv{
    
}