.headerContent{
    display: flex;
    justify-content: end;
    height: 98px;
    align-items: center;
    
    background-color:#1350aa6e 
}
.profilePic{
   
    margin-right: 10px;
    height:40px;
    width: 40px;
    border-radius: 50%;
}
.dropdown-menu{
    display: block;
}
.showProfile{
    
    width:40px;
}
.usernameDropdown{
    align-content: center;margin-right: 80px;
}
.profilePicDive{
    display: block;
}