<div class="side-bar" >
    <!-- <ul >
        <li><a [routerLink]="" routerLinkActive="active-link">Dashboard</a></li>
        <li><a [routerLink]="" routerLinkActive="active-link">Tasks</a></li>
    </ul> -->
    <ul class="nav flex-column nav-tabs ">
        <li class="nav-item" routerLinkActive="active-link">
          <a class="nav-link " routerLink="/employee/dashboard" aria-current="page" href="#">Dashboard</a>
        </li>
        <li class="nav-item" routerLinkActive="active-link">
          <a class="nav-link " routerLink="/employee/tasks">Tasks</a>
        </li>
        
      </ul>
</div>
