.side-bar ul {
    list-style-type: none;
   height:100%;
   border-right: 2px solid grey;
   border-bottom: 2px solid grey;
   width: 200px;
   height: 100%;
}

.side-bar ul li {
    cursor: pointer;
    font-size: 15px;
    line-height: 25px;
    color: var(--lightblack);
    margin: 5px;
}
.side-bar ul li a {
    color: var(black);
}
.side-bar ul li a:hover {
    text-decoration: none;
}

.side-bar ul li:hover {
    color: var(--blue);
}

.side-bar ul li a.active-link {
    color: black;
}
.active-link{
 background-color:lightgrey;  
}