@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';

/* .ngx-datatable .datatable-header {
   
   font-size: large !important;
  } */
  .datatable-header-cell{
    font-size: large !important;
    color: rgb(54, 38, 148)  !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.showmodal {
  display: block ;
}