<div class="changePasswordFormStyling">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

        <div>
            <label for="currentPassword">current password </label>
            <input type="text" class="form-control" name="currentPassword" formControlName="currentPassword">
        </div>

        <div *ngIf="changePasswordForm.get('currentPassword')?.touched && changePasswordForm.get('currentPassword')?.hasError('required')">
            this feild is required
        </div>

        <div *ngIf="changePasswordForm.get('currentPassword')?.hasError('pattern')">
            invalid name
        </div>
        <div>
            <label for="currentPassword">new password </label>
            <input type="text" class="form-control" name="newPassword" formControlName="newPassword">
        </div>

        <div *ngIf="changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.hasError('required')">
            this feild is required
        </div>

        <div *ngIf="changePasswordForm.get('newPassword')?.hasError('pattern')">
            invalid name
        </div>

        <div>
            <label for="currentPassword">Confirm password </label>
            <input type="text" class="form-control" name="confirmPassword" formControlName="confirmPassword">
        </div>

        <div *ngIf="changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.get('confirmPassword')?.hasError('required')">
            this feild is required
        </div>

        <div *ngIf="changePasswordForm.get('confirmPassword')?.hasError('pattern')">
            invalid name
        </div>
        <button class="btn btn-outline-secondary">submit</button>
    </form>
</div>