<div class="changePasswordFormStyling">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

        <div>
            <label for="currentPassword">current password </label>
            <input type="text" class="form-control" name="currentPassword" formControlName="currentPassword">
        </div>

        <div class="errorMessage" *ngIf="changePasswordForm.get('currentPassword')?.touched && changePasswordForm.get('currentPassword')?.hasError('required')">
            This feild is required
        </div>

        <div class="errorMessage" *ngIf="changePasswordForm.get('currentPassword')?.hasError('pattern')">
            Invalid name
        </div>
        <div>
            <label for="currentPassword">new password </label>
            <input type="text" class="form-control" name="newPassword" formControlName="newPassword">
        </div>

        <div class="errorMessage" *ngIf="changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.hasError('required')">
            This feild is required
        </div>

        <div class="errorMessage" *ngIf="changePasswordForm.get('newPassword')?.hasError('pattern')">
            Invalid name
        </div>

        <div>
            <label for="currentPassword">Confirm password </label>
            <input type="text" class="form-control" name="confirmPassword" formControlName="confirmPassword">
        </div>

        <div class="errorMessage" *ngIf="changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.get('confirmPassword')?.hasError('required')">
            This feild is required
        </div>

        <div class="errorMessage" *ngIf="changePasswordForm.get('confirmPassword')?.hasError('pattern')">
            Invalid name
        </div>

        <div class="errorMessage" *ngIf="currentPasswordFlag==1">
            Wrong current Password.
        </div>
        <div class="errorMessage" *ngIf="newPasswordFlag==1">
            New password and confirm password do not match
        </div>
        <button class="btn btn-outline-secondary" [disabled]="!changePasswordForm.valid">submit</button>
    </form>
</div>