<div style="width: 100%;border-left:1px solid grey;height: 100%;">
<div style="text-align:center;font-weight: bold;">
    {{formPurpose}}
    <i style="float: right;font-size: 1.5rem;color: red;" (click)="closeTaskForm()"class="bi-x-circle"></i><br><br>
</div>
<div class="taskFormStyle">
    <form [formGroup]="taskForm" style="padding-right: 10px;" (ngSubmit)="onSubmit()">
        
<div>
    <label for="taskname" style="margin-left: 10px;padding-right: 10px; width: 15px;">Task Name </label>
    <input type="text" style="margin-right: 10px;" class="form-control" name="taskname" formControlName="taskname">
</div>

<div *ngIf="taskForm.get('taskname')?.touched && taskForm.get('taskname')?.hasError('required')">
    This feild is required
</div>

<label for="taskstatus" style="margin-left: 10px;">Task Status</label><br>
<div class="form-control">
    <div style="display: flex;">
    <div style="display: block;">
        <input style="margin-right: 5px;margin-top: 4px;" type="radio" name='taskstatus' value='Todo'
            formControlName='taskstatus'>To Do<br>
        <input style="margin-right: 5px;margin-top: 4px;" type="radio" name='taskstatus'
            value='In Progress' formControlName='taskstatus'>In Progress<br>
        <input style="margin-right: 5px;margin-top: 4px;" type="radio" name='taskstatus' value='pending'
            formControlName='taskstatus'>Pending<br>
    </div>
    <div style="display: block;margin-left: 10px;">
        <input style="margin-right: 5px;margin-top: 4px;" type="radio" name='taskstatus' value='Completed'
            formControlName='taskstatus'>Completed<br>
        <input style="margin-right: 5px;margin-top: 4px;" type="radio" name='taskstatus' value='Blocked'
            formControlName='taskstatus'>Blocked<br>
    </div>
</div>
</div>


<div *ngIf="taskForm.get('taskstatus').touched && taskForm.get('taskstatus')?.hasError('required')">
    This is required feild
</div>


<label for="assignto" style="margin-left: 10px;">Assign To</label><br>
<select class="form-control" formControlName="assignto">
    <option  *ngFor="let user of userDropdownList" [value]="user">{{user}}</option>
 </select>

 <div>
    <label for="taskdescription" style="margin-left: 10px;">Task Description</label><br>
    <textarea class="form-control" cols="35" rows="3" m required name="taskdescription" maxlength="25" formControlName="taskdescription" id="taskdescription" placeholder="Task Description"></textarea>
    <div *ngIf="taskForm.controls['taskdescription'].errors && taskForm.controls['taskdescription'].dirty &&  taskForm.controls['taskdescription'].errors.required">
        Task Description is required
    </div>
</div>
<div>
<button class="form-control btn-primary" [disabled]="!taskForm.valid">{{formAction}}</button>
<button type="button" style="padding-right: 10px;" class="form-control btn-danger" (click)="deleteTask()" *ngIf="formEdit">delete task</button>
</div>
    </form>
    
</div>
</div>