<div class="container">
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">username</th>
        <th scope="col">name</th>
        <th scope="col">gender</th>
        <th scope="col">age</th>
        <th scope="col">phonenumber</th>
        <th scope="col">roles</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{loggedPerson.username}}</td>
        <td>{{loggedPerson.name}}</td>
        <td>{{loggedPerson.gender}}</td>
        <td>{{loggedPerson.age}}</td>
        <td>{{loggedPerson.phonenumber}}</td>
        <td>{{loggedPerson.role}}</td>
      </tr>
    </tbody>
</table>
</div>