
.modal{
    display: block;
}
.icon{
    height: 10px !important;
    width: 10px !important;
    display:block !important;
}
.sidenav{
    
    width: 150px;
    height: 100vh;
}
.prefix-css{
    width:100%;
}
.headerContent{
    align-content: center;
    height: 50px;
    width: 100%;
}

.header{
    width: 100%;
}